#homepagina input[type=search] {
    padding: 10px;
    width: 100%;
    margin-top: 40px;
}

body#homepagina{
    margin: 81px;
}

main{
    margin-top: 10px;
    margin-bottom: 130px;
}

div.row{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

div.pic{
    background-color: gray;
    height: 220px;
    width: 280px;
    margin-bottom: 10px;
    margin-right: 40px;
}

div.pic img{
    height: 100%;
    width: 100%;    
}

span.title{
    font-weight: bold;
    font-family: sans-serif;
}

span.subtitle{
    font-family: sans-serif;
    color: gray;
}

span.price{
    font-family: sans-serif;
    font-weight: bold;
}